@import "compass";
@import "compass/css3";
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$pad: 5px;
$margin: 10px;

* {
  @include box-sizing(border-box);
}

body {
 font: 90% $font-stack;
 color: $primary-color;
}

.tf-grid {
  margin: $margin;
  background: grey;
  padding: $pad 0 0 $pad;
  height: 150px;
  width: 850px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='grid-box-'] {
  float: left;
  background: grey;
  padding-right: $pad;
  padding-bottom: $pad;
  .grid &:last-of-type {
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.tf-grid-left {
  float: left;
  width: 40%;
  height: 100%;
}

.tf-grid-right {
  float: left;
  width: 60%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  padding: $pad;
  background: white;
}

.grid-box-name {
  width: 100%;
  height: 20%;
}

.grid-box-Vector3 {
  width: 50%;
  height: 80%;
  padding-bottom: 0px;
}

.grid-box-Vector3-text {
  width: 55%;
  height: 33.333%;
}

[class*='text'] {
  font-weight: bold;
}

.grid-box-Vector3-data {
  padding-right: 0px;
  width: 45%;
  height: 33.3333%;
}

.grid-box-Matrix4 {
  width: 50%;
  height: 100%;
}

.matrix {
  margin: $pad auto; 
  font-size: small;
  text-align: center;
  position: relative;
}

.matrix:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 0px;
  border: 1px solid #000;
  border-right: 0px;
  width: 6px;
  height: 100%;
}

.matrix:after {
  content: "";
  position: absolute;
  right: -6px;
  top: 0px;
  border: 1px solid #000;
  border-left: 0px;
  width: 6px;
  height: 100%;
}
