<div class="Vector3">
    <span class="name">{{name}}</span>
    <div class="Vector3-element">
        <span class="Vector3-label">X:</span>
        <span class="Vector3-data">{{sig 4 x}}</span>
    </div>
    <div class="Vector3-element">
        <span class="Vector3-label">Y:</span>
        <span class="Vector3-data">{{sig 4 y}}</span>
    </div>
    <div class="Vector3-element">
        <span class="Vector3-label">Z:</span>
        <span class="Vector3-data">{{sig 4 z}}</span>
    </div>
</div>
